.terraform/plugins/selections.json
.terraform/plugins/registry.terraform.io/hashicorp/aws/3.14.1/linux_amd64/terraform-provider-aws_v3.14.1_x5
crash.log
terraform.tfstate
terraform.tfstate.backup
.terraform/modules/modules.json
.terraform.tfstate.lock.info
